img, canvas, map {
  position: absolute;
  top: 0px;
  left: 0px; }

img {
  z-index: 10; }

canvas {
  z-index: 20; }

img.clear {
  z-index: 30; }

#card-stack {
  margin-top: 1536px; }

#playerTable {
  margin-top: 10px; }

.holder {
  margin-top: 10px;
  height: 1500px; }

#territoryTable {
  margin-top: 10px; }
